    <section class = "work">
      <div class = "work-header">
        <h1 class = "work-header__main-title">How It Works</h1>
        <p class = "work__paragraph">Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name</p>
      </div>
      <div class = "work-details">
          <div class = "work-detail">
            <i class = "icon-lightbulb ico"></i>
            <h2 class = "work-detail__title">User Experienced</h2>
            <p class = "work__paragraph">Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name</p>
          </div>
          <div class = "work-detail">
            <i class = "icon-tools ico"></i>
            <h2 class = "work-detail__title">Virtual Design</h2>
            <p class = "work__paragraph">Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name</p>
          </div>
          <div class = "work-detail">
            <i class = "icon-map ico"></i>
            <h2 class = "work-detail__title">Design & Research</h2>
            <p class = "work__paragraph">Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name</p>
          </div>
      </div>
    </section>