<footer class="footer">
      <div class="footer-top">
        <div class="footer-top-left">
          <input type="text" class="footer-top-left__email" placeholder="Enter your email">
          <button class="footer-top-left__submit" type = "submit">SUBSCRIBE</button>
        </div>
        <div class="footer-top-right">
          SUBSCRIBE TO UPDATE FOR OUR NEWSLETTER
        </div>
      </div>
      <div class="footer-main">
        <div class="footer-main-inform">
            <h3 class="footer-main-inform__title">About Landing</h3>
            <p class="footer-main-inform__description">Far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
            <div class="footer-main-social">
              <a href="#" class="footer-main-social__link"><i class="footer-main-first-icon icon-twitter"></i></a>
              <a href="#" class="footer-main-social__link"><i class="footer-main-first-icon icon-facebook"></i></a>
              <a href="#" class="footer-main-social__link"><i class="footer-main-first-icon icon-linkedin"></i></a>
              <a href="#" class="footer-main-social__link"><i class="footer-main-first-icon icon-dribbble"></i></a>
            </div>
          </div>
        <div class="footer-main-inform">
          <h3 class="footer-main-inform__title">Information</h3>
          <ul class="footer-main__information">
            <li class="footer-main__inform__link">
              <i class="icon-check footer-main__second-icon"></i>
              <span class="footer-main__second-desc">About</span>
            </li>
            <li class="footer-main__inform__link">
              <i class="icon-check footer-main__second-icon"></i>
              <span class="footer-main__second-desc">Privacy</span>
            </li>
            <li class="footer-main__inform__link">
              <i class="icon-check footer-main__second-icon"></i>
              <span class="footer-main__second-desc">Terms & Condition</span>
            </li>
            <li class="footer-main__inform__link">
              <i class="icon-check footer-main__second-icon"></i>
              <span class="footer-main__second-desc">Contact</span>
            </li>
          </ul>
        </div>
        <div class="footer-main-inform">
          <h3 class="footer-main-inform__title">Recent Blog</h3>
          <div class="footer-main-inform-blogs">
            <div class="footer-main-blog">
              <a href="#" class="footer-main-blog-img footer-blog-1"></a>
              <div class="footer-main-blog-description">
                <h3 class="footer-blog-description__title">Become a Creative</h3>
                <h4 class="footer-blog-description__date">20 March 2019</h4>
              </div>
            </div>
            <div class="footer-main-blog">
              <a href="#" class="footer-main-blog-img footer-blog-2"></a>
              <div class="footer-main-blog-description">
                <h3 class="footer-blog-description__title">Become a Creative</h3>
                <h4 class="footer-blog-description__date">20 March 2019</h4>
              </div>
            </div>
            <div class="footer-main-blog">
              <a href="#" class="footer-main-blog-img footer-blog-3"></a>
              <div class="footer-main-blog-description">
                <h3 class="footer-blog-description__title">Become a Creative</h3>
                <h4 class="footer-blog-description__date">20 March 2019</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-main-inform">
          <h3 class="footer-main-inform__title">Contact Info</h3>
          <p class="footer-main-inform__address">
            291 South 21th Street,
            Suite 721 New York NY 10016
          </p>
          <ul class="footer-inform__contacts">
            <li class="footer-inform__contact">
              <i class="footer-inform__third-icon icon-phone"></i>
              <span class="footer-inform__third-desc">+ 1235 2355  98</span>
            </li>
            <li class="footer-inform__contact">
              <i class="footer-inform__third-icon icon-envelope"></i>
              <span class="footer-inform__third-desc">info@yoursite.com</span>
            </li>
            <li class="footer-inform__contact">
              <i class="footer-inform__third-icon icon-location4"></i>
              <span class="footer-inform__third-desc">yourwebsite.com</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer-bottom">
          <h3 class="footer-bottom__copyright">Copyright ©2019 All rights reserved | This template is made with <i class = "icon-heart3"></i> by <span class="gray">Colorlib</span> </h3>
          <h3 class="footer-bottom__images">Demo Images: <span class="gray">Unsplash, Pexels</span></h3>
      </div>
    </footer>